In [97]:
!pip install names
import names
import numpy
import pandas as pd

Requirement already satisfied (use --upgrade to upgrade): names in ./anaconda3/lib/python3.4/site-packages

In [98]:
num_applicants = 30

# uses numpy.random.choice to weight each category
# _categories and _probability can be modified and extended, but each array must be of equal length
# contains missing values, because we expect those in source data

gender_categories = ['male','female','other','']
# gender_probability = [.48,.48,.03,.01]
gender_probability = [.75,.20,.03,.02]

career_categories = ['student','junior-faculty','senior-faculty','']
# career_probability = [.33,.33,.33,.01]
career_probability = [.10,.60,.29,.01]

country_categories = ['OECD','non-OECD',''] # see http://www.oecd.org/about/membersandpartners/
# country_probability = [.49,.49,.02]
country_probability = [.90,.08,.02]

subfield_categories = ['solar','cosmology','astrophysics','exoplanets','']
# subfield_probability = [.24,.24,.24,.24,.04]
subfield_probability = [.05,.60,.15,.15,.05]

first_time_categories = ['first_time','returning','']
# first_time_probability = [.49,.49,.02]
first_time_probability = [.33,.66,.01]

In [99]:
gender_array = numpy.random.choice(gender_categories, p=gender_probability,size=num_applicants,replace=True)

name_array = [names.get_full_name(gender=i) for i in gender_array]

career_stage_array = numpy.random.choice(career_categories, p=career_probability,size=num_applicants,replace=True)

country_array = numpy.random.choice(country_categories, p=country_probability,size=num_applicants,replace=True)

subfield_array = numpy.random.choice(subfield_categories, p=subfield_probability,size=num_applicants,replace=True)

first_time_array = numpy.random.choice(first_time_categories,p=first_time_probability,size=num_applicants,replace=True)

In [100]:
df2 = pd.DataFrame({
        'applicant_name':name_array,
        'gender':gender_array,
        'career_stage':career_stage_array,
        'country':country_array,
        'subfield':subfield_array,
        'first_time':first_time_array
        })

df2

,applicant_name,career_stage,country,first_time,gender,subfield
0,David Woods,junior-faculty,OECD,,male,cosmology
1,Roy Belcher,senior-faculty,OECD,returning,male,astrophysics
2,John Pratt,junior-faculty,OECD,returning,male,cosmology
3,Edward Barnett,junior-faculty,OECD,returning,male,cosmology
4,Robert Shepherd,junior-faculty,OECD,returning,male,solar
5,Alexander Blakley,junior-faculty,OECD,returning,male,cosmology
6,Sheri Beyers,junior-faculty,OECD,returning,,cosmology
7,Scott Colman,junior-faculty,OECD,first_time,male,astrophysics
8,Oscar Hines,junior-faculty,OECD,first_time,male,cosmology
9,John Edwards,student,OECD,first_time,male,cosmology
10,Todd Mitchell,junior-faculty,OECD,returning,male,cosmology
11,Nick Yip,student,non-OECD,returning,male,cosmology
12,Joseph Holland,junior-faculty,OECD,first_time,other,cosmology
13,Jonathan Dubois,,OECD,returning,male,cosmology
14,Neil Tirado,junior-faculty,OECD,returning,male,
15,Kim David,junior-faculty,OECD,first_time,male,cosmology
16,Gene Peterman,senior-faculty,OECD,returning,male,cosmology
17,Dorothy Victorine,student,OECD,returning,other,exoplanets
18,Salvador Messer,junior-faculty,OECD,first_time,male,exoplanets
19,Michael Hayzlett,junior-faculty,OECD,first_time,male,astrophysics
20,Perla Bruce,junior-faculty,OECD,first_time,female,exoplanets
21,Monica Brown,junior-faculty,OECD,returning,female,astrophysics
22,Roberto Krogman,senior-faculty,OECD,first_time,male,cosmology
23,Harold Viveros,junior-faculty,OECD,first_time,male,cosmology
24,Brian Vanhoose,senior-faculty,OECD,first_time,male,exoplanets
25,Harold Schieber,junior-faculty,non-OECD,returning,male,cosmology
26,Carl Eddy,senior-faculty,OECD,returning,male,cosmology
27,Robert Grice,junior-faculty,OECD,returning,male,cosmology
28,Loretta Bush,junior-faculty,OECD,first_time,female,exoplanets
29,Devin Wixom,junior-faculty,OECD,returning,male,exoplanets

In [96]:
fname = 'datasets/all-uneven-%d.csv' % num_applicants
df2.to_csv(fname,index=False)